# Python
__pycache__/
*.pyc
*$py.class

*.zip
*.ods
figs/
query_logs/

# Local and backup files
local/
bck/
offline/

# Trino installation files
trino_installation/

# CSV files used to populate redis
data_dump/